
@media screen and (min-width: 320px) and (max-width: 914px) {

    .container {
        width: 100%;
        height: 100vh;
        background-color: #58585841;
        display: block;
        justify-content: center;
        overflow:auto;
    }

    .container::-webkit-scrollbar {
        width: 0px;
    }
    
    .container::-webkit-scrollbar-thumb {
        background-color: #f48c06b3;
        border-radius: 10px;
    }

    .estPresentation {
        width: 100%;
        height: 80px;
        background-color: #FFF;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px 10px;
        pointer-events: none;
        position: sticky;
        top: 0;
        box-shadow: #00000073 0px 10px 20px -20px;
        z-index: 10;
    }

    .estPresentationLogo {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        border: none;
        transition: 0.3s;
        background-color: #FFF;
        box-shadow: -1px 1px 5px 1px #00000073;
    }

    .estPresentationName {
        width: 90%;
        font-family: 'Dosis', sans-serif;
        font-weight: 500;
        letter-spacing: 2px;
        font-size: 14px;
        background-color: #ffc940;
        padding: 8px;
        text-align: center;
        border-radius: 0 22px 22px 0;
        margin-left: -30px;
        box-shadow: 1px 1px 5px 1px #0000003d;
    }

    .categoriesList {
        width: 98%;
        height: fit-content;
        background-color: #FFF;
        border: 1px solid #CCC;
        border-radius: 5px;
        margin: auto;
        padding: 5px 10px;
        margin-top: 5px;
        display: flex;
        justify-content: flex-start;
        overflow: auto;
        box-shadow: #0000001a 0px 4px 6px -1px, #0000000f 0px 2px 4px -1px;
    }

    .categoriesList::-webkit-scrollbar {
        display: none;
    }

    .emptyCategories {
        min-width: 120px;
        width: fit-content;
        height: 30px;
        border: 1px solid #ffb700b9;
        border-radius: 5px;
        background-color: #FFF;
        white-space: nowrap;
        font-family: 'Dosis', sans-serif;
        font-weight: 500;
        font-size: 13px;
        letter-spacing: 1px;
        margin-right: 10px;
        padding: 2px 8px;
        margin: auto;
        text-align: center;
        pointer-events: none;
    }

    .categoryButton {
        min-width: 120px;
        width: fit-content;
        height: 30px;
        border: 1px solid #ffb700b9;
        border-radius: 5px;
        background-color: #FFF;
        white-space: nowrap;
        font-family: 'Dosis', sans-serif;
        font-weight: 500;
        font-size: 13px;
        letter-spacing: 1px;
        margin-right: 10px;
        padding: 2px 8px;
        text-align: center;
    }

    .categoryButtonActive {
        min-width: 120px;
        width: fit-content;
        height: 30px;
        border: 1px solid #ffb700b9;
        border-radius: 5px;
        background-color: #FFBA08;
        white-space: nowrap;
        font-family: 'Dosis', sans-serif;
        font-weight: 600;
        font-size: 13px;
        letter-spacing: 1px;
        margin-right: 10px;
        padding: 2px 8px;
        text-align: center;
        color: #FFF;
    }

    .subcategoriesList {
        width: 95%;
        height: 80%;
        background-color: #FFF;
        border: 1px solid #CCC;
        border-right-width: 2px;
        border-right-color: #FFBA08;
        border-radius: 5px;
        margin: auto;
        padding: 5px 10px;
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        flex-wrap:wrap;
        overflow: auto;
        box-shadow: #0000001a 0px 4px 6px -1px, #0000000f 0px 2px 4px -1px;
        position: relative;
    }

    .subcategoriesList::-webkit-scrollbar {
        display: none;
    }

    .subcategorySection {
        width: 90%;
        height: 100%;
        margin: 10px 20px 10px 0;
        margin-right: 20px;
        justify-content: left;
        padding: 0 5px 10px 5px;
        border-left: 1px solid #CCC;
        border-top: 1px solid #CCC;
        border-radius: 5px;
        box-shadow: #8383837a 6px 2px 16px 0px, #ffffffcc -6px -2px 16px 0px;
        overflow: auto;
    }

    .subcategorySection::-webkit-scrollbar {
        display: none;
    }

    .subcategorySection .subcategoryTitle {
        width: 100%;
        height: fit-content;
        border: none;
        padding: 5px 0 0 10px;
        background-color: #FFF;
        border-bottom: 2px solid #FFBA08;
        font-family: 'Varela Round', sans-serif;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        color: #777777;
        position: sticky;
        top: 0;
        z-index: 4;
    }

    .initInstruction {
        width: 100%;
        height: fit-content;
        border-radius: 10px;
        background-color: #FFF;
        position: relative;
        top: 15px;
        z-index: 5;
        box-shadow: #0000003d 0px 3px 8px;
        padding: 20px 10px;
        display: flex;
        align-items: center;
    }

    .initInstructionIcon {
        position: absolute;
        width: 22px;
        height: 22px;
        color: #FFBa08;
        top: -15px;
        background-color: #FFF;
        border-radius: 50%;
    }

    .initInstructionTitle {
        width: 100%;
        font-family: 'Dosis', sans-serif;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        letter-spacing: 2px;
    }

    .itemSection {
        width: 95%;
        height: fit-content;
        border: 1px solid #EEE;
        border-radius: 5px;
        margin: auto;
        margin-top: 15px;
        padding: 0 10px 10px 10px;
        overflow: hidden;
        box-shadow: #00000012 0px 1px 1px, #00000012 0px 2px 2px, #00000012 0px 4px 4px, #00000012 0px 8px 8px, #00000012 0px 16px 16px;
    }

    .itemTitle {
        width: 100%;
        font-family: 'Dosis', sans-serif;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 1px;
        text-align: center;
        padding: 5px 0;
        background-color: #fff;
    }

    .itemNormalPrice {
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 2px;
        text-align: center;
        margin-top: 5px;
    }

    .itemOldPrice {
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 2px;
        text-align: center;
        margin-top: 5px;
        color: #FF0000;
        text-decoration:line-through;
    }

    .itemPromotionalPrice {
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 2px;
        text-align: center;
        margin-top: 5px;
        color: #20c000;
    }

    .itemDescription {
        background-color: #ff6600;
        border-radius: 5px;
        color: #FFF;
        padding: 5px;
        text-align: center;
        margin-top: 20px;
        font-family: 'Dosis', sans-serif;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 1px;
    }

    .itemImage {
        width: 250px;
        height: 150px;
        position: relative;
        margin: auto;
        margin-top: 20px;
        border-radius: 10px;
        overflow: hidden;
    }

    .itemRating {
        width: 100%;
        height: fit-content;
        margin: auto;
        margin-top: 20px;
        padding: 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border: 1px solid #ff6600;
        border-radius: 5px;
    }

    .itemRatingValue {
        width: 100%;
        text-align: center;
        font-family: 'Dosis', sans-serif;
        font-size: 15px;
        font-weight: 500;
        color: #FFBA08;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .itemRatingIcon{
        width: 14px;
        height: 14px;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 2px;
    }

    .rate {
        width: 200px;
        height: fit-content;
        padding: 2px;
        background-color: #FFBA08;
        border-radius: 5px;
        border: none;
        outline: none;
        color: #FFF;
        font-family: 'Dosis', sans-serif;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 2px;
        margin: 5px 0;
    }






    .getRatingOuter {
        width: 100%;
        height: 100vh;
        z-index: 5;
        background-color: #ffffffda;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .getRating {
        width: 380px;
        height: 230px;
        background-color: #FFF;
        border-radius: 10px;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        position: relative;
        display: block;
        overflow: hidden;
        z-index: 4;
    }

    .getRatingHeader {
        width: 100%;
        height: 30px;
        background-color: #FFBA08;
        border-bottom: 1px solid #FFF;
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2px 10px;
        font-family: 'Dosis', sans-serif;
        font-weight: 500;
        letter-spacing: 1px;
        color: #FFF;
    }

    .getRatingClose {
        width: 18px;
        height: 18px;
        border: 1px solid #FFF;
        border-radius: 50%;
        background-color: #FFBA08;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFF;
    }

    .getRatingCloseIcon {
        width: 12px;
        height: 12px;
        font-size: 10px;
    }

    .getRatingAction {
        width: 70%;
        height: fit-content;
        margin: auto;
        margin-top: 60px;
        text-align: center;
        font-family: 'Dosis', sans-serif;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 1px;
    }

    .getRatingItemTitle {
        width: 70%;
        height: fit-content;
        text-align: center;
        font-family: 'Dosis', sans-serif;
        font-size: 22px;
        font-weight: 700;
        letter-spacing: 2px;
        margin: auto;
        margin-top: 20px;
    }

    .getRatingIndication {
        width: 90%;
        height: fit-content;
        border: 1px solid #CCC;
        border-radius: 5px;
        text-align: center;
        margin: auto;
        margin-top: 20px;
    }

    .getRatingSubmit:hover {
        background-image: linear-gradient(90deg, #FAA307, #FFBA08, #FAA307);
        color: #FFF;
        cursor: pointer;
        text-shadow: 1px 1px 25px #FFF;
    }
}









@media screen and (min-width: 915px) {


}