.container {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
}

.maintenanceInfo {
    width: 350px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-color: #FFBA08;
    border-radius: 30px;
}

.divLogo {
    width: fit-content;
    height: fit-content;
    background-color: #FFF;
    padding: 10px 30px;
    border-radius: 60px;
}

.title {
    width: 100%;
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #FFF;
    margin-top: -10px;
    text-align: center;
}

.subtitle {
    width: 100%;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: -10px;
    text-align: center;
}

.icon {
    width: 120px;
    height: 120px;
    color: #272727;
}
