@media screen and (min-width: 320px) and (max-width: 914px) {   /* mobiles */

    .loaderDiv {
        width: 100%;
        height: 120vh;
        z-index: 1000;
        opacity: 0.9;
        background-color: #FFF;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .loaderText {
        margin-left: -40px;
        display: flex;
        opacity: 1;
        visibility: visible;
        align-items: center;
        animation-name: loaderText;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    .loaderLogo {
        width: 20px;
        height: 20px;
        opacity: 0;
        transform: rotate(90deg);
        animation-name: loaderLogo;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    
    .loaderText .m, .loaderText .enu {
        font-family: 'Dosis', sans-serif;
        letter-spacing: 5px;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 3px;
    }

    .loaderIcon {
        width: 30px;
        height: 30px;
        font-size: 28px;
        margin-top: 100px;
        position: absolute;
        color: #a5a5a5;
        visibility: visible;
    }
    
    @keyframes loaderLogo {
        0% {
            width: 20px;
            height: 20px;
            opacity: .3;
        }
        25% {
            width: 60px;
            height: 60px;
            opacity: 1;
            transform: rotate(0deg);
        }
        30% {
            width: 60px;
            height: 60px;
            opacity: 1;
            transform: rotate(0deg);
        }
        50% {
            width: 60px;
            height: 60px;
            opacity: 1;
            transform: rotate(0deg);
        }
        70% {
            width: 60px;
            height: 60px;
            opacity: 1;
            transform: rotate(0deg);
        }
        100% {
            width: 60px;
            height: 60px;
            opacity: 1;
            transform: rotate(0deg);
        }
    
    }
    
    @keyframes loaderText {
        0% {
            margin-left: -40px;
            opacity: 1;
        }
        25% {
            margin-left: 0px;
            opacity: 1;
        }
        50% {
            margin-left: -50px;
            opacity: 0;
            visibility: hidden;
        }
        100% {
            margin-left: -50px;
            opacity: 0;
            visibility: hidden;
        }
    }

}





@media screen and (min-width: 915px) {  /* large devices */

    .loaderDiv {
        width: 100%;
        height: 120vh;
        z-index: 1000;
        opacity: 0.9;
        background-color: #FFF;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .loaderText {
        margin-left: -40px;
        display: flex;
        opacity: 1;
        visibility: visible;
        align-items: center;
        animation-name: loaderText;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    .loaderLogo {
        width: 50px;
        height: 50px;
        opacity: 0;
        transform: rotate(90deg);
        animation-name: loaderLogo;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    
    .loaderIcon {
        width: 30px;
        height: 30px;
        font-size: 25px;
        position: absolute;
        margin-top: 160px;
        color: #a5a5a5;
        visibility: visible;
    }
    
    .loaderText .m, .loaderText .enu {
        font-family: 'Dosis', sans-serif;
        letter-spacing: 5px;
        font-size: 45px;
        font-weight: 600;
        margin-bottom: 12px;
    }
    
    .loaderText .m {
        opacity: 0;
        animation-name: m;
        animation-duration: 1.3s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    
    @keyframes loaderLogo {
        0% {
            width: 50px;
            height: 50px;
            opacity: .3;
        }
        25% {
            width: 150px;
            height: 150px;
            opacity: 1;
            transform: rotate(0deg);
        }
        30% {
            width: 150px;
            height: 150px;
            opacity: 1;
            transform: rotate(0deg);
        }
        50% {
            width: 150px;
            height: 150px;
            opacity: 1;
            transform: rotate(0deg);
        }
        70% {
            width: 150px;
            height: 150px;
            opacity: 1;
            transform: rotate(0deg);
        }
        100% {
            width: 150px;
            height: 150px;
            opacity: 1;
            transform: rotate(0deg);
        }
    
    }
    
    @keyframes loaderText {
        0% {
            margin-left: -40px;
            opacity: 1;
        }
        25% {
            margin-left: 0px;
            opacity: 1;
        }
        50% {
            margin-left: -110px;
            opacity: 0;
            visibility: hidden;
        }
        100% {
            margin-left: -110px;
            opacity: 0;
            visibility: hidden;
        }
    }
    
    @keyframes m {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    
    }

}