
@media screen and (min-width: 320px) and (max-width: 914px) {

    .panelsTitle {
        width: 98%;
        height: 30px;
        border-bottom: 1px solid #CCC;
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2px 10px;
        font-family: 'Dosis', sans-serif;
        font-weight: 500;
        letter-spacing: 1px;
    }

    .shareAccessClose {
        width: 18px;
        height: 18px;
        border: 1px solid #000;
        border-radius: 50%;
        background-color: #FFF;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .shareAccessCloseIcon {
        width: 12px;
        height: 12px;
        font-size: 10px;
    }

    .shareAccess {
        width: 98%;
        height: fit-content;
        border-radius: 10px;
        border: 1px solid #CCC;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 10px auto;
        background-color: #FFF;
        position: relative;
        box-shadow: #00000073 2px 2px 20px 2px;
        padding: 30px 0 0 0;
    }

    .shareAccessDiv {
        width: 100%;
        min-width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px 0 0;
    }

    .divQrCodeOuter {
        width: 100%;
        height: fit-content;
    }

    .qrCodeCard {
        width: fit-content;
        height: fit-content;
        padding: 5px;
        box-shadow: 1px 1px 20px 1px #CCC;
        border-radius: 15px;
        margin: auto;
    }

    .qrCodeFrame {
        position: relative;
        width: 250px;
        height: 250px;
        margin: auto;
    }

    .qrCodeLoader {
        width: 16px;
        height: 16px;
        font-size: 14px;
        position: absolute;
        top: 44%;
        left: 44%;
        transform: translate(-50%, -50%);
        color: #BBB;
    }

    .buttonsToShareDiv {
        width: 98%;
        height: fit-content;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid #CCC;
    }

    .shareButtons {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: none;
        background-color: #FFBA08;
        color: #FFF;
        margin: 30px 20px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: #00000066 0px 1px 2px, #0000004d 0px 5px 10px -1px, #00000033 0px -1px 0px inset;
    }

    .shareButtons:focus {
        box-shadow: #00000066 0px 1px 2px, #0000004d 0px 1px 10px -5px, #00000033 0px -1px 0px inset;
    }

    .shareButtonsIcon {
        width: 18px;
        height: 18px;
        font-size: 16px;
    }

}
